
input,
select,
textarea {
    padding: 5px;
    border: 3px solid #3A3A3A;
}

input.small {
    width: 20em;
}

input.large {
    width: 40em;
}

input.date {
    width: 10em;
}

div.field {
    margin-bottom: 10px;
}

form {
    margin: 10px 0;
}

form dt,
form dd {
    padding: 0;
    margin: 0;
}

form label {
    font-weight: bold;
}

form dd {
    margin-bottom: 10px;
}

.small.button {
    font-size: 11px;
    padding: 8px 20px 10px;
    width: auto;
}

.button.radius {
    border-radius: 3px 3px 3px 3px;
}

.button {
    border: medium none;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 9px 34px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.white.button {
    background-color: #E9E9E9;
    color: #333333;
}

.blue.button {
    background-color: #1C477E;
}

.red.button {
    background-color: #ba1c21;
}

.black.button {
    background-color: #141414;
}

.green.button {
    background-color: #007324;
}

.editBlock {
    background-color: #f0f0f0;
    background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .3) 10px, rgba(255,255,255,.3) 20px);
    background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .3) 10px, rgba(255,255,255,.3) 20px);
    background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .3) 10px, rgba(255,255,255,.3) 20px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .3) 10px, rgba(255,255,255,.3) 20px);
}

