{% extends "layout.html.twig" %}

{% block content %}
<h2>Tasks</h2>
<table>
    <thead><tr>
        <th>Name</th><th>Description</th><th>Created On</th><th>Completed On</th><th></th>
    </tr></thead>
    <tbody data-bind="foreach: tasks">
    <tr class="viewBlock">
        <td data-bind="text: name"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: created"></td>
        <td data-bind="text: completed"></td>
        <td><button class="small nice radius black button" data-bind="click: $root.editTask, enable: !isStatusEditing()">Edit</button></td>
    </tr>
    <tr class="editBlock" data-bind="fadeVisible: !isStatusViewing()">
        <td colspan="5">
            <form>
                <label>Task Name</label>
                <input type="text" placeholder="Task Name" class="small input-text" data-bind="value: name, enable: isStatusEditing()" type="text"/>

                <label>Task Description</label>
                <input type="text" placeholder="Task Description" class="large input-text" data-bind="value: description, enable: isStatusEditing()" type="text"/>

                <label>Created On</label>
                <input type="text" placeholder="Created" class="small input-text" data-bind="value: created, enable: isStatusEditing()" type="text"/>

                <label>Completed On</label>
                <input type="text" placeholder="Completed" class="small input-text" data-bind="value: completed, enable: isStatusEditing()" type="text"/>

                <button class="small nice radius blue button" data-bind="click: $root.saveTask, enable: isStatusEditing()">Save</button>
                <button class="small nice radius red button" data-bind="click: $root.deleteTask, enable: isStatusEditing()">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button class="large nice radius blue button" data-bind="click: addTask">Create New Task</button>
{% endblock %}

{% block sidebar %}
<div class="WidgetHolder">
    <h3>About AgileGrapher</h3>
    <p>
        This app was built as both a quick demo and an excuse to try out some newer
        PHP development libraries and techniques
    </p>
</div>

<div class="WidgetHolder">
    <h3>About the Author</h3>
    <p>Proudly built by Matt Wheeler. Find out more about me at:</p>
    <ul class="disc">
        <li><a href="https://twitter.com/#!/afoozle">Twitter (@afoozle)</a></li>
        <li><a href="https://github.com/afoozle">Github (afoozle)</a></li>
    </ul>
</div>

{% endblock %}