{% extends "layout.html.twig" %}

{% block content %}
<h2>Tasks</h2>
<table>
    <thead><tr>
        <th>Name</th><th>Description</th><th>Created On</th><th>Completed On</th><th></th>
    </tr></thead>
    <tbody data-bind="foreach: tasks">
    <tr class="viewBlock">
        <td data-bind="text: name"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: created"></td>
        <td data-bind="text: completed"></td>
        <td><button class="small nice radius black button" data-bind="click: $root.editTask, enable: !isStatusEditing()">Edit</button></td>
    </tr>
    <tr class="editBlock" data-bind="fadeVisible: !isStatusViewing()">
        <td colspan="5">
            <form>
                <dl>
                    <dt><label>Task Name</label></dt>
                    <dd><input type="text" placeholder="Task Name" class="small" data-bind="value: name, enable: isStatusEditing()" type="text"/></dd>

                    <dt><label>Task Description</label></dt>
                    <dd><input type="text" placeholder="Task Description" class="large" data-bind="value: description, enable: isStatusEditing()" type="text"/></dd>

                    <dt><label>Created On</label></dt>
                    <dd><input type="text" placeholder="Created" class="date" data-bind="value: created, enable: isStatusEditing()" type="text"/></dd>

                    <dt><label>Completed On</label></dt>
                    <dd><input type="text" placeholder="Completed" class="date" data-bind="value: completed, enable: isStatusEditing()" type="text"/></dd>

                    <dd>
                        <button class="small nice radius blue button" data-bind="click: $root.saveTask, enable: isStatusEditing()">Save</button>
                        <button class="small nice radius red button" data-bind="click: $root.deleteTask, enable: isStatusEditing()">Delete</button>
                    </dd>
                </dl>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button class="large nice radius blue button" data-bind="click: addTask">Create New Task</button>
{% endblock %}

{% block sidebar %}
<section id="graph">
    <img placeholder="Graph" src="/images/graph.png"/>
</section>

<section>
    <h1>About AgileGrapher</h1>
    <p>This app was built as both a quick demo and an excuse to try out some newer PHP development libraries and techniques</p>
</section>

<section>
    <h1>About the Author</h1>
    <p>Proudly built by Matt Wheeler.</p>
    <p>Find out more about me at...</p>
    <ul class="disc">
        <li><a href="https://twitter.com/#!/afoozle">Twitter (@afoozle)</a></li>
        <li><a href="https://github.com/afoozle">Github (afoozle)</a></li>
    </ul>
</section>

{% endblock %}